# 10/10/2019
# Data Cleaning Methods using numpy and pandas

In [305]:
# In excel we can't clean data more than 1 GB nearly. So using different libraries in pandas and numpy we can clean big type data 
#Data cleaning example

In [306]:
import numpy as np
import pandas as pd

In [307]:
# Link is mailed
df=pd.read_csv("https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv")

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
df

In [ ]:
# Choose field one by one and check exceptional cases

df.PID.isna()  # To find Nan Values

In [ ]:
df.ST_NUM.isna()

In [ ]:
df.isna()

In [ ]:
df.isnull().values.any()  # MEans it will tell is there any null value in data. And if ans is true then we have to clean the file
#In this example it is true

In [ ]:
print (df['ST_NUM'].isnull())

In [ ]:
# Looking at NUM_BEDROOMS values
print(df['NUM_BEDROOMS'])

In [ ]:
# Looking for any null value in NUM_BEDROOMS
print(df['NUM_BEDROOMS'].isnull())

In [ ]:
# Making list of missing values (like N/a, n/a,-- etc)
missing_values=["n/a","na","--"]

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/dataoptimal/posts/master/data%20cleaning%20with%20python%20and%20pandas/property%20data.csv",na_values=missing_values)

In [ ]:
df  # Now it will remove n/a , na, -- type if entries here to give NaN

In [ ]:
# "Exceptional Handling" 
# In OWN_OCCUPIED column we have to replace any numeric value with string rather with NaN

count=0 # taking anything=0 means taking counter variable
for row in df['OWN_OCCUPIED']:
    try:
        int(row)                                   # Means if the row is integer then replace that with nan. other wise pass it 
        df.loc[count,'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    count+=1

In [ ]:
df.OWN_OCCUPIED # Now 12 is replaced by NaN

In [ ]:
df.NUM_BATH

In [ ]:
# "Exceptional Handling" 
# In OWN_OCCUPIED column we have to replace any numeric value with string rather with NaN

count=0 # taking anything=0 means taking counter variable
for row in df['NUM_BATH']:
    try:
        float(row)                                # Means if the row is integer then replace that with nan. other wise pass it 
        pass
    except ValueError:
        df.loc[count,'NUM_BATH']=np.nan   
    
    count+=1

In [ ]:
df = df.replace('HURLEY', np.nan)

In [ ]:
df

In [ ]:
df.head(10)  # In OWN_OCUPIED the values are Y and N Yes/No so we will think according to other values. Here we will fill NaN 
# with Y in Barklay and Washington NaN with Y

In [ ]:
df['ST_NUM']=df['ST_NUM'].fillna(df.ST_NUM.median())

In [ ]:
df['ST_NUM']

In [ ]:
df['NUM_BEDROOMS']=df['NUM_BEDROOMS'].fillna(df.NUM_BEDROOMS.median())

In [ ]:
df['NUM_BEDROOMS']

In [ ]:
df['NUM_BATH']=df['NUM_BATH'].fillna(df.NUM_BATH.median())

In [ ]:
df['NUM_BATH']

In [ ]:
df.head(10)

In [ ]:
df1=df.drop('PID',axis=1)

In [ ]:
df1

In [ ]:
df1['SQ_FT']=df1['SQ_FT'].fillna(df1.SQ_FT.median())

In [ ]:
df1

In [ ]:
df1['OWN_OCCUPIED']=df['OWN_OCCUPIED'].fillna(df1.OWN_OCCUPIED.mode())  # As it is string value Y / N so take mode in this case

In [ ]:
df1

In [ ]:
#Now df1 contins cleaned data

# 11/10/2019

In [308]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\asus\anaconda3\lib\site-packages (0.90)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from xgboost) (1.16.2)
Note: you may need to restart the kernel to use updated packages.

In [309]:
import pandas as pd
import numpy as np
import xgboost  # to boost in random forest like structures(it is for ensembled coding)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from math import sqrt
from sklearn.metrics import mean_squared_error

In [310]:
kytr=pd.read_csv("E:/Neha Python/Machin Learning Notes/DAtasetCleaning/insurance.csv")

In [311]:
kytr

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
8      37    male  29.830         2     no  northeast   6406.41070
9      60  female  25.840         0     no  northwest  28923.13692
10     25    male  26.220         0     no  northeast   2721.32080
11     62  female  26.290         0    yes  southeast  27808.72510
12     23    male  34.400         0     no  southwest   1826.84300
13     56  female  39.820         0     no  southeast  11090.71780
14     27    male  42.130         0    yes  southeast  39611.75770
15     19    male  24.600         1     no  southwest   1837.23700
16     52  female  30.780         1     no  northeast  10797.33620
17     23    male  23.845         0     no  northeast   2395.17155
18     56    male  40.300         0     no  southwest  10602.38500
19     30    male  35.300         0    yes  southwest  36837.46700
20     60  female  36.005         0     no  northeast  13228.84695
21     30  female  32.400         1     no  southwest   4149.73600
22     18    male  34.100         0     no  southeast   1137.01100
23     34  female  31.920         1    yes  northeast  37701.87680
24     37    male  28.025         2     no  northwest   6203.90175
25     59  female  27.720         3     no  southeast  14001.13380
26     63  female  23.085         0     no  northeast  14451.83515
27     55  female  32.775         2     no  northwest  12268.63225
28     23    male  17.385         1     no  northwest   2775.19215
29     31    male  36.300         2    yes  southwest  38711.00000
...   ...     ...     ...       ...    ...        ...          ...
1308   25  female  30.200         0    yes  southwest  33900.65300
1309   41    male  32.200         2     no  southwest   6875.96100
1310   42    male  26.315         1     no  northwest   6940.90985
1311   33  female  26.695         0     no  northwest   4571.41305
1312   34    male  42.900         1     no  southwest   4536.25900
1313   19  female  34.700         2    yes  southwest  36397.57600
1314   30  female  23.655         3    yes  northwest  18765.87545
1315   18    male  28.310         1     no  northeast  11272.33139
1316   19  female  20.600         0     no  southwest   1731.67700
1317   18    male  53.130         0     no  southeast   1163.46270
1318   35    male  39.710         4     no  northeast  19496.71917
1319   39  female  26.315         2     no  northwest   7201.70085
1320   31    male  31.065         3     no  northwest   5425.02335
1321   62    male  26.695         0    yes  northeast  28101.33305
1322   62    male  38.830         0     no  southeast  12981.34570
1323   42  female  40.370         2    yes  southeast  43896.37630
1324   31    male  25.935         1     no  northwest   4239.89265
1325   61    male  33.535         0     no  northeast  13143.33665
1326   42  female  32.870         0     no  northeast   7050.02130
1327   51    male  30.030         1     no  southeast   9377.90470
1328   23  female  24.225         2     no  northeast  22395.74424
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1331   23  female  33.400         0     no  southwest  10795.93733
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [312]:
kytr.isna()

        age    sex    bmi  children  smoker  region  charges
0     False  False  False     False   False   False    False
1     False  False  False     False   False   False    False
2     False  False  False     False   False   False    False
3     False  False  False     False   False   False    False
4     False  False  False     False   False   False    False
5     False  False  False     False   False   False    False
6     False  False  False     False   False   False    False
7     False  False  False     False   False   False    False
8     False  False  False     False   False   False    False
9     False  False  False     False   False   False    False
10    False  False  False     False   False   False    False
11    False  False  False     False   False   False    False
12    False  False  False     False   False   False    False
13    False  False  False     False   False   False    False
14    False  False  False     False   False   False    False
15    False  False  False     False   False   False    False
16    False  False  False     False   False   False    False
17    False  False  False     False   False   False    False
18    False  False  False     False   False   False    False
19    False  False  False     False   False   False    False
20    False  False  False     False   False   False    False
21    False  False  False     False   False   False    False
22    False  False  False     False   False   False    False
23    False  False  False     False   False   False    False
24    False  False  False     False   False   False    False
25    False  False  False     False   False   False    False
26    False  False  False     False   False   False    False
27    False  False  False     False   False   False    False
28    False  False  False     False   False   False    False
29    False  False  False     False   False   False    False
...     ...    ...    ...       ...     ...     ...      ...
1308  False  False  False     False   False   False    False
1309  False  False  False     False   False   False    False
1310  False  False  False     False   False   False    False
1311  False  False  False     False   False   False    False
1312  False  False  False     False   False   False    False
1313  False  False  False     False   False   False    False
1314  False  False  False     False   False   False    False
1315  False  False  False     False   False   False    False
1316  False  False  False     False   False   False    False
1317  False  False  False     False   False   False    False
1318  False  False  False     False   False   False    False
1319  False  False  False     False   False   False    False
1320  False  False  False     False   False   False    False
1321  False  False  False     False   False   False    False
1322  False  False  False     False   False   False    False
1323  False  False  False     False   False   False    False
1324  False  False  False     False   False   False    False
1325  False  False  False     False   False   False    False
1326  False  False  False     False   False   False    False
1327  False  False  False     False   False   False    False
1328  False  False  False     False   False   False    False
1329  False  False  False     False   False   False    False
1330  False  False  False     False   False   False    False
1331  False  False  False     False   False   False    False
1332  False  False  False     False   False   False    False
1333  False  False  False     False   False   False    False
1334  False  False  False     False   False   False    False
1335  False  False  False     False   False   False    False
1336  False  False  False     False   False   False    False
1337  False  False  False     False   False   False    False

[1338 rows x 7 columns]

In [313]:
# To find total nulls in whole dataset
kytr.isnull().sum(axis=0)

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [314]:
lsmoker=LabelEncoder()
lsex=LabelEncoder()
lregion=LabelEncoder()

kytr['smoker_n']=lsmoker.fit_transform(kytr['smoker'])
kytr['sex_n']=lsex.fit_transform(kytr['sex'])
kytr['region_n']=lregion.fit_transform(kytr['region'])
kytr_n=kytr.drop(['smoker','sex','region'],axis='columns')
kytr_n

      age     bmi  children      charges  smoker_n  sex_n  region_n
0      19  27.900         0  16884.92400         1      0         3
1      18  33.770         1   1725.55230         0      1         2
2      28  33.000         3   4449.46200         0      1         2
3      33  22.705         0  21984.47061         0      1         1
4      32  28.880         0   3866.85520         0      1         1
5      31  25.740         0   3756.62160         0      0         2
6      46  33.440         1   8240.58960         0      0         2
7      37  27.740         3   7281.50560         0      0         1
8      37  29.830         2   6406.41070         0      1         0
9      60  25.840         0  28923.13692         0      0         1
10     25  26.220         0   2721.32080         0      1         0
11     62  26.290         0  27808.72510         1      0         2
12     23  34.400         0   1826.84300         0      1         3
13     56  39.820         0  11090.71780         0      0         2
14     27  42.130         0  39611.75770         1      1         2
15     19  24.600         1   1837.23700         0      1         3
16     52  30.780         1  10797.33620         0      0         0
17     23  23.845         0   2395.17155         0      1         0
18     56  40.300         0  10602.38500         0      1         3
19     30  35.300         0  36837.46700         1      1         3
20     60  36.005         0  13228.84695         0      0         0
21     30  32.400         1   4149.73600         0      0         3
22     18  34.100         0   1137.01100         0      1         2
23     34  31.920         1  37701.87680         1      0         0
24     37  28.025         2   6203.90175         0      1         1
25     59  27.720         3  14001.13380         0      0         2
26     63  23.085         0  14451.83515         0      0         0
27     55  32.775         2  12268.63225         0      0         1
28     23  17.385         1   2775.19215         0      1         1
29     31  36.300         2  38711.00000         1      1         3
...   ...     ...       ...          ...       ...    ...       ...
1308   25  30.200         0  33900.65300         1      0         3
1309   41  32.200         2   6875.96100         0      1         3
1310   42  26.315         1   6940.90985         0      1         1
1311   33  26.695         0   4571.41305         0      0         1
1312   34  42.900         1   4536.25900         0      1         3
1313   19  34.700         2  36397.57600         1      0         3
1314   30  23.655         3  18765.87545         1      0         1
1315   18  28.310         1  11272.33139         0      1         0
1316   19  20.600         0   1731.67700         0      0         3
1317   18  53.130         0   1163.46270         0      1         2
1318   35  39.710         4  19496.71917         0      1         0
1319   39  26.315         2   7201.70085         0      0         1
1320   31  31.065         3   5425.02335         0      1         1
1321   62  26.695         0  28101.33305         1      1         0
1322   62  38.830         0  12981.34570         0      1         2
1323   42  40.370         2  43896.37630         1      0         2
1324   31  25.935         1   4239.89265         0      1         1
1325   61  33.535         0  13143.33665         0      1         0
1326   42  32.870         0   7050.02130         0      0         0
1327   51  30.030         1   9377.90470         0      1         2
1328   23  24.225         2  22395.74424         0      0         0
1329   52  38.600         2  10325.20600         0      1         3
1330   57  25.740         2  12629.16560         0      0         2
1331   23  33.400         0  10795.93733         0      0         3
1332   52  44.700         3  11411.68500         0      0         3
1333   50  30.970         3  10600.54830         0      1         1
1334   18  31.920         0   2205.98080         0      0         0
1335   18  36.850         0   1629.83350         0      0         2
1336   21  25.800         0   2007.94500         0      0         3
1337   61  29.070         0  29141.36030         1      0         1

[1338 rows x 7 columns]

In [315]:
kytr_n.head()

   age     bmi  children      charges  smoker_n  sex_n  region_n
0   19  27.900         0  16884.92400         1      0         3
1   18  33.770         1   1725.55230         0      1         2
2   28  33.000         3   4449.46200         0      1         2
3   33  22.705         0  21984.47061         0      1         1
4   32  28.880         0   3866.85520         0      1         1

In [316]:
traindata=kytr_n[1:1001] #Train data
testdata=kytr_n[1001:] # Test Data

In [317]:
trainx=traindata.drop(['charges'],axis=1)
trainy=traindata['charges'].astype(int)
testx=testdata.drop(['charges'],axis=1)
testy=testdata['charges'].astype(int)

In [318]:
#X_train,X_test,y_train,y_test=train_test_split(trainx,trainy,test_size=0.33,random_state=0)
#y_test

In [319]:
clf=xgboost.XGBRegressor()

In [320]:
clf.fit(trainx,trainy)

[14:09:17] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0,
       importance_type='gain', learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=None, subsample=1, verbosity=1)

In [321]:
y_testpred=clf.predict(testx)   # predicting test data
print(len(y_testpred))

337

In [322]:
#y_pred=clf.predict(trainx)

In [323]:
dftestpred=pd.DataFrame(y_testpred)
dfpred=pd.DataFrame(y_test)

In [325]:
rms=sqrt(mean_squared_error(testy,y_testpred))
print("RMSE:",rms)
# RMSE value should be less near to 0 so we can decide method for label encoding 
# Means weather to apply label encoder or one hot encoding it depends on RMSE value which should be less or near to zero

RMSE: 4884.485212968295