In [1]:
# Classifiers: Type 1
# Decision Tree

In [2]:
# Example of cricet forcast.

In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_excel("E:/Neha Python/Cricketforcast1.xlsx")

In [6]:
df.head()

    Outlook Tempearature Humidity  Windy  Play
0     Sunny          Hot      Hot  False     0
1     Sunny          Hot      Hot   True     0
2  Overcast          Hot      Hot  False     1
3    Rainny         Mild      Hot  False     1
4    Rainny       Cloudy   Normal  False     1

In [7]:
inputs=df.drop('Play',axis='columns')
target=df['Play']

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le_Outlook=LabelEncoder()
le_Tempearature=LabelEncoder()
le_Humidity=LabelEncoder()
le_Windy=LabelEncoder()

In [10]:
inputs['Outlook_n']=le_Outlook.fit_transform(inputs['Outlook'])
inputs['Tempearature_n']=le_Tempearature.fit_transform(inputs['Tempearature'])
inputs['Humidity_n']=le_Humidity.fit_transform(inputs['Humidity'])
inputs['Windy_n']=le_Windy.fit_transform(inputs['Windy'])

In [11]:
inputs_n=inputs.drop(['Outlook','Tempearature','Humidity','Windy'],axis='columns')
inputs_n

    Outlook_n  Tempearature_n  Humidity_n  Windy_n
0           2               1           0        0
1           2               1           0        1
2           0               1           0        0
3           1               2           0        0
4           1               0           1        0
5           1               0           1        1
6           0               0           1        1
7           2               2           0        0
8           2               0           1        0
9           1               2           1        0
10          2               2           1        1
11          0               2           0        1
12          0               1           1        0
13          1               2           0        1

In [12]:
from sklearn import tree

In [13]:
model=tree.DecisionTreeClassifier()
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [14]:
model.score(inputs_n,target) # 1 or 0 is expected . 1 mesns correct. Due to classification type it is showing only 1 or 0. 
#if it is regresion then it will show values other than 1 or 0.

1.0

In [15]:
model.predict([[1,1,1,1]]) # 1,1,1,1 means in all 4 categories 1st type

array([0], dtype=int64)

In [16]:
model.predict([[1,2,0,0]])

array([1], dtype=int64)

In [17]:
a

NameError: name 'a' is not defined

In [19]:
import numpy as np
import pandas as pd