In [277]:
#from sklearn.datasets import load_iris()
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np

In [278]:
#np.random.seed(0)
df = pd.read_csv("/Users/nilesh/Downloads/Data Science/Test_Dataset/iris.csv")

In [279]:
#CREATE A VAIRABLE for iris dataset
#iris = load_iris()
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [280]:
#df = pd.DataFrame(iris.data, columns=iris.feature_names)
X = df.drop(['species'],axis=1)
len(X)

150

In [281]:
y = df[['species']]
len(y)
#y['species'],_ = pd.factorize(y['species'])
#view target
y['species'],_ = pd.factorize(y['species'])

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [282]:
from sklearn.cross_validation import train_test_split
#Adding a new column for species name
#df['species'] = pd.DataFrame.(iris.target,iris.target_names)

In [283]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25)
#Creating test and train data
#df['is_train'] = np.random.uniform(0,1,len(df)) <= .75
#view the top 5 rows

In [284]:
#Creating dataframe with testing row and training row
#train, test = df[df['is_train']==True], df[df['is_train']==False]

In [285]:
#Show the number of observation for training and testing dataset
print("training dataset : ", len(X_train))
print("testing dataset : ", len(X_test))
print("training dataset : ", len(y_train))
print("training dataset : ", len(y_test))

training dataset :  112
testing dataset :  38
training dataset :  112
training dataset :  38

In [286]:
#create list of feature column name:
#features = df.columns[:4]
#view features
#features

In [287]:
#converting each species name into digits

In [288]:
#Creating a random forest classifier
clf = RandomForestClassifier(n_jobs=2,random_state=0)
#training the classifier
clf.fit(X_train, y_train)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [289]:
#applying the trained classifier to the test
clf.score(X_test,y_test)

0.9210526315789473

In [290]:
clf.predict([[6.7,3,5.2,2.3]])
#view predicted probability of first 10 observations
#clf.predict_proba(test[features])[0:10]

array([2])

In [291]:
#mapping names for the plants for each predicted plant class
#preds = iris.target_names[clf.predict(test[features])]

In [292]:
preds[0:20]

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'versicolor'], dtype='<U10')

In [293]:
#Create Confusion matrix
pd.crosstab(test['species'], preds, rownames=['Actual Species'],
            colnames=['Predicted Species'])

Predicted Species  setosa  versicolor  virginica
Actual Species
setosa                 13           0          0
versicolor              0           5          2
virginica               0           0         12

In [294]:
#preds = iris.target_names[clf.predict([[5.0, 3.6, 1.4, 2.0]])]
test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
7,5.0,3.4,1.5,0.2,setosa,False
8,4.4,2.9,1.4,0.2,setosa,False
10,5.4,3.7,1.5,0.2,setosa,False
13,4.3,3.0,1.1,0.1,setosa,False
17,5.1,3.5,1.4,0.3,setosa,False
18,5.7,3.8,1.7,0.3,setosa,False
19,5.1,3.8,1.5,0.3,setosa,False
20,5.4,3.4,1.7,0.2,setosa,False
21,5.1,3.7,1.5,0.4,setosa,False
23,5.1,3.3,1.7,0.5,setosa,False
27,5.2,3.5,1.5,0.2,setosa,False
31,5.4,3.4,1.5,0.4,setosa,False
38,4.4,3.0,1.3,0.2,setosa,False
52,6.9,3.1,4.9,1.5,versicolor,False
66,5.6,3.0,4.5,1.5,versicolor,False
68,6.2,2.2,4.5,1.5,versicolor,False
70,5.9,3.2,4.8,1.8,versicolor,False
72,6.3,2.5,4.9,1.5,versicolor,False
89,5.5,2.5,4.0,1.3,versicolor,False
98,5.1,2.5,3.0,1.1,versicolor,False
103,6.3,2.9,5.6,1.8,virginica,False
109,7.2,3.6,6.1,2.5,virginica,False
111,6.4,2.7,5.3,1.9,virginica,False
114,5.8,2.8,5.1,2.4,virginica,False
116,6.5,3.0,5.5,1.8,virginica,False
118,7.7,2.6,6.9,2.3,virginica,False
122,7.7,2.8,6.7,2.0,virginica,False
140,6.7,3.1,5.6,2.4,virginica,False
143,6.8,3.2,5.9,2.3,virginica,False
144,6.7,3.3,5.7,2.5,virginica,False
147,6.5,3.0,5.2,2.0,virginica,False
149,5.9,3.0,5.1,1.8,virginica,False

In [295]:
from sklearn.metrics import accuracy_score

In [296]:
as1 = accuracy_score(test['species'], preds)

In [297]:
print(as1)

0.9375

In [298]:
30/32

0.9375